@import "variables.scss";
@import "main.scss";

body {
	background-color: $form-background;
}

.header-container {
	display: flex;
	flex-direction: column;

	padding: 7.2rem 0 3.6rem;
	align-items: center;
}

.section-selection {
	display: grid;
	gap: 1.8rem;

	.btn-container {
		display: flex;
		justify-content: end;
		margin: 0 auto;
		width: 80rem;
		padding-bottom: 2.4rem;
	}

	.selection-list-container {
		width: 80rem;
		line-height: 1.8;
		justify-self: center;
		padding-bottom: 1.6rem;
		.selection-list {
			display: inline-block;

			.selection-link {
				text-decoration: none;
				color: $text-link;
				text-decoration: none;
				font-size: 1.6rem;
				padding: 0 1.2rem;
			}

			.selection-option {
				color: $text-link;
				text-decoration: none;
				font-size: 1.4rem;
			}
		}
	}
}

.form-container {
	background-color: #fff;
	margin: 0 auto;
	padding: 3.2rem 3.2rem;
	font-size: 1.2rem;
	color: $secondary-text;
	font-size: 1.6rem;
	width: 80rem;

	.next-btn {
		align-self: flex-start;
	}
	.form-section {
		display: flex;
		flex-direction: column;
		gap: 2.4rem;
		.secondary-heading {
			color: $primary-text;
			padding-bottom: 2.4rem;
		}

		.single-joint {
			&-header {
				font-weight: 600;
				padding-bottom: 1.2rem;
			}
		}
		.s-j-container {
			display: flex;
			gap: 1.2rem;
		}
	}

	.application-radio {
		background-color: #fff;
		border: 1px solid $secondary-text;

		&:checked {
			border: 3px solid #fff;
			background-color: $primary-green;
		}
	}

	.scheme-header {
		font-weight: 600;
		padding-bottom: 1.2rem;
	}

	.scheme-select {
		height: 4.2rem;
		width: 32rem;
	}

	.scheme-radio {
		border: 3px solid white;
		box-shadow: 0 0 0 1px $secondary-text;
		appearance: none;
		border-radius: 50%;
		width: 2.4rem;
		height: 2.4rem;
		background-color: #fff;
		// transition: all ease-in 0.2s;
	}
	.scheme-radio:checked {
		background-color: $primary-green;
		border: 5px solid white;
	}

	.radio-container {
		display: flex;
		gap: 0.8rem;
		padding: 0.2rem;
		align-content: center;

		label {
			align-self: center;
		}
	}

	.bedrooms {
		display: flex;
		flex-direction: column;
		gap: 0.6rem;

		label {
			display: inline-block;
			align-self: center;
		}
	}

	.checkboxes {
		display: flex;
		flex-direction: column;
		gap: 1.2rem;

		.check-contain input[type="checkbox"] ~ .check-input {
			border: 1px solid $secondary-text;
		}
		.check-contain input[type="checkbox"] ~ .check-input::after {
			border: solid $secondary-text;
			border-width: 0 2px 2px 0;
		}
	}
}
