@import "variables.scss";

// ********************************************REMOVE THIS
.block {
	padding: 50rem;
	height: 200rem;
}

input[type="radio"],
input[type="checkbox"],
select {
	cursor: pointer;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	&:focus {
		outline: none;
		outline: 3px solid $primary-green;
	}
}

html {
	font-size: 62.5%;
	font-family: sans-serif;
}

body {
	font-weight: 400;
}

a {
	text-decoration: none;
}

ol {
	li {
		display: list-item;
		list-style: decimal;
		list-style-position: inside;
	}
}

// ***************************
// *********HEADERS***********
// ***************************

.primary-header {
	font-size: 4.8rem;
	color: $primary-text;
}

.heading-primary {
	font-weight: 600;
	font-size: 4.8rem;
	color: $news-text;
	padding-bottom: 2.4rem;
}

// ***************************
// **********HEADER***********
// ***************************

.logo {
	height: 7.2rem;
	width: 7.2rem;
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding: 0.8rem 16.8rem;

	.nav-list {
		display: flex;
		gap: 3.6rem;

		list-style: none;
		align-items: center;

		&-link,
		a {
			font-size: 2rem;
			color: #fff;
			font-weight: 600;
			display: inline-block;
			padding: 0.5rem 0;

			&:hover {
				color: $primary-yellow;
			}
		}

		.active-link {
			border-bottom: 4px solid $primary-yellow;
			color: $primary-yellow;
		}
	}
}

// ***************************
// ********REUSABLES**********
// ***************************

.container {
	width: 100rem;
}

.center {
	margin: 0 auto;
}

.text-center {
	display: flex;
	align-items: center;
}

.vertical-flex {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
	align-items: flex-start;
}

.horiz-flex {
	display: flex;
	gap: 1.2rem;
	align-items: flex-start;
}

.header {
	background-color: $background-green;
}

// ***************************
// *********BUTTONS***********
// ***************************
.btn {
	border: none;
	padding: 1rem 1.8rem;
	font-size: 2.2rem;
	font-weight: 500;
	cursor: pointer;
	align-self: flex-start;
}

.sign-in-btn {
	background-color: $primary-green;
	box-shadow: 0 0.3rem 0 0 $primary-yellow;

	&:hover,
	&:active,
	&:focus {
		outline: 3px solid $primary-green;
		box-shadow: 0 0.5rem 0 0.3rem $primary-green;
		background-color: $primary-yellow;
	}
	&:hover {
		outline: none;
		box-shadow: 0 0.3rem 0 0 $primary-green;
	}
}

.primary-btn {
	background-color: $primary-yellow;
	color: $primary-text;
	box-shadow: 0 0.3rem 0 0 $primary-green;
	font-weight: 600;

	&:hover,
	&:active,
	&:focus {
		background-color: $primary-green;
		color: $primary-green;
		box-shadow: 0 0.4rem 0 0 $primary-yellow;
	}

	&:active,
	&:focus {
		outline: none;
		color: $primary-yellow;
	}
}

.secondary-btn {
	background-color: $secondary-green;
	box-shadow: 0 0.3rem 0 0 $secondary-text;

	&:hover {
		background-color: $secondary-hover;
	}
	&:active,
	&:focus {
		outline: 3px solid $primary-green;
		box-shadow: 0 0.5rem 0 0.3rem $secondary-text;
		background-color: $secondary-hover;
	}
}

// ***************************
// **********LINKS************
// ***************************

.text-link {
	color: $text-link;
	display: inline-block;
	padding: 0 0.6rem;
	text-decoration: underline;
	&:hover,
	&:focus {
		background-color: $primary-yellow;
		color: $text-link-hover;
	}
}

.text-link.dark-bg {
	color: #fff;
	&:hover {
		color: $text-link-hover;
	}
}

.dark-bg:hover {
	color: $primary-yellow;
}

.current {
	background-color: $primary-yellow;
}

// ***************************
// *PAGE SELECT & NEWSLETTER**
// ***************************

.page-selector {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 3.2rem;
	.pagination {
		list-style: none;
		display: flex;
		gap: 0.8rem;

		.pagi-link {
			font-size: 1.8rem;
			span {
				color: $text-link;
			}
		}
		.number-link a {
			text-decoration: none;
		}
	}
}

.newsletter {
	color: #fff;
	display: flex;
	justify-content: center;

	&-container {
		background-color: $background-green;
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 7.2rem;
		row-gap: 3.2rem;
		width: 140rem;
		padding: 4rem 3.2rem;

		.newsletter-header {
			font-size: 2.4rem;
		}

		.newsletter-text {
			justify-content: center;
			align-items: center;
			font-size: 1.8rem;
			padding-top: 2.4rem;
			letter-spacing: 0.2px;
			line-height: 1.3;
		}
		.unsub {
			font-size: 1.8rem;
			padding-top: 2.4rem;
		}

		.privacy-policy {
			grid-column: span 2;
			font-size: 1.6rem;
			.pp-link a {
				color: $primary-yellow;
				text-decoration: underline;
			}
		}

		form {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 1.2rem;

			padding-top: 4.8rem;

			input[type="email"],
			select {
				align-self: stretch;
				border: none;
				height: 4.2rem;
				padding-left: 1.2rem;
				font-size: 1.6rem;
			}
		}
	}
}

// ***************************
// **********INPUTS***********
// ***************************

.radios {
	display: flex;
	gap: 1.6rem;
	padding: 0 0.4rem;

	&-input {
		width: 2.2rem;
		height: 2.2rem;
		align-self: center;

		appearance: none;
		border-radius: 50%;
		box-shadow: 0 0 0 1px white;

		&:checked {
			border: 5px solid $background-green;
			background-color: $primary-yellow;
		}
	}
	label {
		font-weight: 400 !important;
	}
}

.select-container {
	display: flex;
	flex-direction: column;

	.selecter {
		height: 4.2rem;
		width: 20rem;
		font-size: 1.6rem;
		color: $secondary-text;
		padding: 1rem;
	}
	label {
		font-weight: 600;
		font-size: 1.6rem;
		color: $secondary-text;
		margin-bottom: 0.6rem;
	}
}

.check-contain {
	justify-self: center;
	padding: 0.4rem;
}

.check-contain *,
.check-contain *::before,
.check-contain *::after {
	box-sizing: content-box !important;
}

.check-contain input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.check-contain span {
	line-height: 1.5;
	font-size: 1.6rem;
	font-family: inherit;
	padding-left: 2.4rem;
}

.check-contain {
	display: table;
	position: relative;
	padding-left: 1.8rem;
	cursor: pointer;
	margin-bottom: 0.5rem;
}

.check-contain input[type="checkbox"] ~ .check-input {
	position: absolute;
	top: 0;
	left: 0;
	height: 3rem;
	width: 3rem;
	border: 2px solid rgba(255, 255, 255, 1);
	border-radius: 0rem;
}

.check-contain input[type="checkbox"] ~ .check-input::after {
	content: "";
	position: absolute;
	display: none;
	left: 1rem;
	top: 0.18rem;
	width: 1rem;
	height: 2rem;
	border: solid rgba(255, 221, 0, 1);
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}

.check-contain input:checked ~ .check-input::after {
	display: block;
}

// ***************************
// **********FOOTER***********
// ***************************

.footer {
	padding-top: 6.4rem;
	&-container {
		background-color: $background-green;
		height: 30rem;
		width: 100%;
		display: grid;
		grid-template-columns: 1fr 1fr;
		color: #fff;
		padding: 4.8rem 32rem;
		column-gap: 8rem;

		.socials {
			display: flex;
			flex-direction: column;
			gap: 1.2rem;
			.social-header {
				font-size: 1.8rem;
				font-weight: 500;
			}
			.social-list {
				display: flex;
				gap: 1.6rem;
				font-size: 1.2rem;
				list-style: none;

				.social {
					display: flex;
					gap: 0.6rem;
					align-items: center;
					.social-icon {
						color: #fff;
						height: 3.2rem;
						width: 3.2rem;
					}
					.social-link {
						font-size: 1.6rem;
					}
				}
			}
		}

		.footer-links {
			font-size: 1.8rem;
			display: inline-block;
			.footer-link {
				padding: 1.2rem;
			}
		}
		.agent-btn {
			justify-self: end;
			align-self: flex-end;
		}
		.logo-copyright {
			font-size: 1.4rem;
			display: flex;
			align-items: center;

			img {
				height: 8.4rem;
				width: 8.4rem;
			}
		}
	}
}
