@import "variables.scss";
@import "main.scss";

body {
	background-color: $form-background;
}

.main {
	display: flex;
	flex-direction: row-reverse;
	padding: 0 12rem;
}

.prop-search {
	margin: 0 auto;
	width: 80rem;
	padding-top: 3.2rem;
	.description-section {
		display: flex;
		gap: 1.4rem;
		flex-direction: column;
		margin-bottom: 3.2rem;
		.results {
			font-size: 1.6rem;
		}
		.search-disclaimer {
			font-size: 1.6rem;
			color: $subheading-text;
			width: 80rem;
		}
	}
}

.views-section {
	display: flex;
	list-style: none;
	gap: 1.6rem;
	align-items: flex-end;
	padding-bottom: 0.6rem;

	.view-option {
		display: flex;

		.view-link {
			font-size: 1.6rem;
		}

		.view-icon {
			color: $primary-green;
			height: 24px;
			width: 24px;
		}
	}
}

.sort-section {
	display: flex;
	justify-content: space-between;

	.sort-container {
		display: flex;
		flex-direction: column;

		.sorter {
			height: 4.2rem;
			width: 20rem;
			font-size: 1.6rem;
			color: $property-text;
			padding: 1rem;
		}
	}

	label {
		font-weight: 600;
		font-size: 1.4rem;
		color: $property-text;
		margin-bottom: 0.6rem;
	}
}

.preview-panel-container {
	display: grid;
	gap: 2.4rem;
	margin: 3.2rem 0;
	.preview-container {
		background-color: #fff;
		width: 80rem;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		padding: 2.4rem;
		color: $property-text;

		.left-section {
			display: flex;
			flex-direction: column;
			gap: 1.2rem;
			font-size: 1.8rem;

			.temp-img {
				background-color: rgb(202, 202, 202);
				border: 1px solid #4c4c4c;
				height: 250px;
				width: 400px;
			}

			.price {
				font-size: 2.4rem;
				font-weight: 600;
				color: $primary-text;
			}

			.price-subtext {
				display: flex;
				flex-direction: column;
				gap: 0.8rem;

				.address {
					font-weight: 600;
				}

				.bed-bath {
					display: flex;
					gap: 1.2rem;
				}
			}
		}

		.right-section {
			display: flex;
			flex-direction: column;
			padding-left: 3.2rem;
			gap: 2.8rem;
			font-size: 1.8rem;
			line-height: 1.2;

			.item-list {
				display: flex;
				flex-direction: column;
				gap: 0.4rem;
				padding-left: 2rem;
			}

			.detail-btn {
				margin-top: 6rem;
				align-self: stretch;
			}
		}
	}
}

.search-section {
	background-color: $background-green;
	color: #fff;
	padding: 3.2rem;
	align-self: flex-start;
	margin-top: 3.2rem;
	display: flex;
	flex-direction: column;
	gap: 2.2rem;

	width: 30rem;

	font-size: 1.6rem;

	label {
		font-weight: 600;
	}

	.secondary-heading {
		font-size: 2rem;
	}

	.location-search {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		font-size: 1.6rem;

		.location-input {
			height: 4.2rem;
			padding: 0.8rem;
			font-size: 1.6rem;
		}

		.filters {
			display: flex;
			align-items: center;
			.filter-icon {
				height: 2.8rem;
				width: 2.8rem;
			}
		}
	}

	.buy-rent {
		display: flex;
		flex-direction: column;
		gap: 1rem;

		.buy-rent-radio {
			display: flex;
			gap: 0.8rem;

			label {
				font-weight: 500;
			}

			.type-radio {
				width: 2.2rem;
				height: 2.2rem;
				align-self: center;

				appearance: none;
				border-radius: 50%;
				box-shadow: 0 0 0 1px white;

				&:checked {
					border: 5px solid $background-green;
					background-color: $primary-yellow;
				}
			}
		}
	}

	.small-selection,
	.large-selection {
		height: 4.2rem;
		background-color: $background-green;
		border: 2px solid #fff;
		color: #fff;
		padding-left: 0.6rem;
		cursor: pointer;
	}
	.small-selection {
		width: 16rem;
	}
	.large-selection {
		width: 24rem;
	}

	.must-have {
		display: flex;
		flex-direction: column;
		gap: 1.2rem;

		.check-option {
			display: flex;
			align-items: center;
			gap: 1rem;
			.must-have-checks {
				appearance: none;
				border: 2px solid #fff;
				height: 3.2rem;
				width: 3.2rem;

				&:checked {
					stroke: $primary-yellow;
				}

				&:after {
					left: 9px;
					top: 5px;
					width: 5px;
					height: 10px;
					border: solid white;
					border-width: 0 3px 3px 0;
					transform: rotate(45deg);
				}
			}
		}
	}
}

//*******************************************
// checkboxes

.check-contain {
	justify-self: center;
	padding: 0.4rem;
}

.check-contain *,
.check-contain *::before,
.check-contain *::after {
	box-sizing: content-box !important;
}

.check-contain input {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.check-contain span {
	line-height: 1.5;
	font-size: 1.6rem;
	font-family: inherit;
	padding-left: 2.4rem;
}

.check-contain {
	display: table;
	position: relative;
	padding-left: 1.8rem;
	cursor: pointer;
	margin-bottom: 0.5rem;
}

.check-contain input[type="checkbox"] ~ .check-input {
	position: absolute;
	top: 0;
	left: 0;
	height: 3rem;
	width: 3rem;
	border: 2px solid rgba(255, 255, 255, 1);
	border-radius: 0rem;
}

.check-contain input[type="radio"] ~ .check-input {
	position: absolute;
	top: 0;
	left: 0;
	height: 3rem;
	width: 3rem;
	background: rgba(241, 245, 248, 0);
	transition: background 250ms;
	border: 2px solid rgba(255, 255, 255, 1);
	border-radius: 2rem;
}

.check-contain input[type="checkbox"] ~ .check-input::after {
	content: "";
	position: absolute;
	display: none;
	left: 1rem;
	top: 0.18rem;
	width: 1rem;
	height: 2rem;
	border: solid rgba(255, 221, 0, 1);
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}

.check-contain input[type="radio"] ~ .check-input::after {
	content: "";
	position: absolute;
	display: none;
	left: 0.25rem;
	top: 0.25rem;
	width: 0.75rem;
	height: 0.75rem;
	border-radius: 2rem;
	background: rgba(255, 221, 0, 1);
}

.check-contain input:checked ~ .check-input::after {
	display: block;
}
