// primary green
// secondary green
// secondary green hover
// background green
// primary text
// secondary text
// primary text hover
// secondary text hover

$primary-green: #009292;
$secondary-green: #daf2f2;
$secondary-hover: #a1e6e6; //also active
$background-green: #006469;
$primary-text: #006469;
$primary-text-active: #fd0;
$secondary-text: #4c4c4c;
// $secondary-text-active: #4c4c4c;
$primary-yellow: #fd0;
$text-link: #1c9d9d;
$text-link-hover: #136c60;

$news-text: #016469;
$news-date: #838a8e;
$news-paragraph: #575757;

$form-background: #f2f2f2;

$property-text: #676767;
$subheading-text: #71797d;

$share-background: #a7cf4a;

$light-grey-background: #e6e6e6;

$price-slider-text: #454442;
